.position-profile {
  display: grid;
  justify-items: center;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

.menu-profile {
  display: grid;
  background-color: #FF009E;
  width: 100vw;
  height: 60px;
  align-items: space-around;
}

#close {
  background-color: #FF009E;
  color: #ffffff;
}

.menu-profile ul {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.img-user-profile {
  width: 35px;
}

.img-edit-user-profile {
  object-fit: cover;
  display: block;
  width: 150px;
  height: 150px;
  margin-bottom: -10px;
  border-radius: 250px;
}

.user-edit-profile {
  height: 45vh;
}

.logout-profile, .camera-profile {
  color: #ffffff;
}

.camera-profile {
  display: block;
  background-color: #FF009E;
  padding: 5px;
  border-radius: 50%;
  border: 1px white solid;
  margin-top: -10px;
}

.name-user {
  font-size: 28px;
  font-weight: bold;
  color: #383838;
  margin-top: 20px;
}

.correo-profile {
  margin-top: 10px;
  font-size: 15px;
  color: rgba(56, 56, 56, 0.8);
}

.icon-edit-profile {
  position: absolute;
  margin-top: -27px;
  margin-left: 80px;
  color: #FF009E;
  border-bottom: 1px #FF009E solid;
}

.post {
  display: grid;
  width: 100%;
  justify-items: center;
  text-align: center;
}

.own-post-profile {
  display: grid;
  width: 85%;
  height: 80px;
  border: 1px solid rgba(44, 44, 44, 0.1);
  border-radius: 10px;
  margin-bottom: 15px;
}

.text-own-post {
  font-family: 'Nunito Sans', sans-serif;
  width: 90%;
  border: none;
  align-self: center;
  justify-self: center;
  resize: none;
  overflow: hidden;
  background-color: #ffffff;
}

.icon-more-profile {
  text-align: end;
  color: #3A3A3A;
  margin: 5px 12px 0px 0px;
}

textarea:focus {
  outline: none;
}

@media (min-width:768px) {
  .position-profile {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 130px auto;
    grid-auto-flow: row;
  }
  .menu-profile {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .user-edit-profile {
    grid-column: 1;
    grid-row: 2 / 3;
  }
  .post {
    grid-column: 2;
    grid-row: 2 / 3;
    margin-right: 35%;
  }
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background: #fff;
  color: #555;
  width: 400px;
  padding: 40px;
  margin: 10px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  transition: 0.4s;
}

#modal p {
  margin: 0 0 20px;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -500px);
}
