* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

#container {
  margin: 0 auto;
  display: grid;
  width: 90%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: space-evenly; 
}