* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

#container {
  margin: 0 auto;
  display: grid;
  width: 100%;
  align-items: center;
  align-content: space-evenly;
}

#file {
  display: none;
}

::placeholder {
  color: #8b8a8a;
  font-size: 1em;
}